.logo img {
    display: block;
    margin: auto;
  }
  
  .site-layout-content {
    margin: 24px 16px;
    padding: 24px;
    height: 800px;
    position: relative; /* Position relative pour gérer les composants superposés */
  }
  
  .header-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ant-select-dropdown,
  .ant-dropdown {
    z-index: 1050 !important; /* Fix pour les menus déroulants */
  }
  
  .site-layout {
    position: relative;
    z-index: 1;
  }
  
 
/* Couleur de fond pour l'élément actif */
.ant-menu-item-selected {
  background-color: #63a2c0 !important; 
}

/* Couleur de survol (hover) */
.ant-menu-item:hover {
  background-color: #63a2c0!important; 
}

/* Couleur du texte pour l'élément actif */
.ant-menu-item-selected a {
  color: #ffffff !important; 
}

/* Couleur du texte pour l'état de survol */
.ant-menu-item a:hover {
  color: #ffffff !important; 
}

/* Transition pour un effet fluide */
.ant-menu-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}



