/* Conteneur principal */
.statistics-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Prend 100% de la largeur parent */
  height: 100%; /* Prend 100% de la hauteur parent */
  padding: 30px;
  background-color: #fdffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Empêche le débordement */
  box-sizing: border-box;
}

.div-global-personel{
  margin-top: 2rem;
}