/* index.css */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom,
      #81a4c0, #095c83);
  /* Dégradé linéaire du bleu (#007bff) au blanc (#ffffff) */
  font-family: Arial, sans-serif;
  height: 100vh;
  z-index: 0;
}

.MuiDataGrid-columnHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b6d2df;
  /* Couleur de fond de l'en-tête */
}

.archive-row {
  color: #ff0202;
  /* ou toute autre couleur grise */
  background-color: #b6d2df;
  /* Couleur de fond de l'en-tête */
}

/*  style pour afficher le le texte du menu deroulant sur la gauche */
.left-align-form .ant-form-item-control-input-content {
  text-align: left;
}

/* animation icon personne en marche */
.icon-container {
  width: 90%;
  position: relative;
  margin: auto;
}

.personneEnMarche {
  position: absolute;
  font-size: 3.5rem;
  animation: personneEnMarche 30s linear infinite;
  color: #8db8ca;
}

@keyframes personneEnMarche {
  0% {
    left: 0;
  }

  100% {
    left: calc(100% - 2rem);
    /* La largeur de la div moins la taille de l'icône */
  }
}


/*  test aénimation */
.fade-in {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(200);
  }
}


/*  STYLE DE L'ICON DU TABLEAU */

.person-icon {
  font-size: 80px;
  color: #d9e3eb;
}

/* Titre principal */
.title {
  color: #d9e3eb;
}

/* Conteneur principal du header */
.header-container {
  height: 75px;
  width: 80%;
  background-color: white;
  position: relative;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

/* Conteneur du bouton Export */
.export-container {
  margin: 2rem;
}

/* Conteneur de l'icône */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Conteneur du bouton Ajouter */
.add-member-container {
  margin-right: 1rem;
  padding: 1rem;
}

/* Conteneur du DataGrid */
.data-grid-container {
  height: calc(100% - 75px - 2rem);
  width: 80%;
  background-color: white;
  position: relative;
  margin-top: 2rem;
  border-radius: 0.5rem;
  z-index: 0;
}


/* Conteneur principal */
.main-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icône principale au-dessus du tableau */
.icon-tableau {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 5rem;
}

/* Icône personnalisée */
.custom-person-icon {
  font-size: 100px;
  color: #d9e3eb;

}

/* Titre principal */
.title {
  color: #d9e3eb;
  font-size: 2rem;
}


/* Conteneur principal du header "menu" */
.header-container {
  height: 75px;
  width: 80%;
  background-color: white;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Conteneur du bouton Export */
.export-container {
  margin: 2rem;
}

/* Conteneur de l'icône */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Conteneur du bouton Ajouter */
.add-member-container {
  margin-right: 1rem;
  padding: 1rem;
}

/* Conteneur du DataGrid */
.data-grid-container {
  height: calc(130% - 10px - 1rem);
  width: 80%;
  background-color: white;
  margin-top: 1rem;
  border-radius: 0.5rem;
  z-index: 0;
}

/* animation datagrid */
.data-grid-container {
  opacity: 0;
  transform: scale(0.5);
  /* État initial */
  animation: fadeInScale 1s ease-out forwards;
  /* Animation sur 2 secondes */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}



/* Ligne archivée dans le DataGrid */
.archive-row {
  background-color: #eaeced;
  color: rgb(28, 28, 28);

}

/* Styles généraux pour RestoreIcon */
.RestoreIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  color: green;
  font-size: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.RestoreIcon:hover {
  color: rgb(64, 182, 64);
  transform: scale(1.05);
  cursor: pointer;
  font-size: 28px;
}

/* Classe pour masquer l'élément */
.hidden {
  display: none;
}

/* Classe pour afficher l'élément */
.visible {
  display: flex;
}

/* Animation AddMemberForm */
.fade-in {
  animation: fadeIn 2s ease;
  /* Animation trop longue (3 secondes) */
}

/* STYLE DELETE ICON */
.delete-Icon {
  cursor: "pointer";
  color: rgb(223, 2, 2);
  font-size: 24.5px;
  margin-top: 17px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-Icon:hover {

  color: rgb(170, 2, 2);
  transform: scale(1.05);
  cursor: pointer;
  font-size: 25px;
}

/* STYLE EDITE ICON */
.Edit-Icon {
  cursor: "pointer";
  color: #095c83;
  font-size: 20px;
  margin: 2px;
  margin-bottom: 7px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Edit-Icon:hover {
  color: #6ea6c0;
  transform: scale(1.05);
  cursor: pointer;
  font-size: 20px;
}

/* STYLE SERVICE ICON */

.Service-icon {
  cursor: "pointer";
  color: #fdbb03;
  font-size: 21px;
  margin: 2px;
  margin-bottom: 9px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Service-icon:hover {
  color: #eebb30;
  transform: scale(1.05);
  cursor: pointer;
  font-size: 22px;
}

/* style  Detail-icon */
.Detail-icon {
  cursor: "pointer";
  color: #6ba2d9;
  font-size: 20px;
  margin: 2px;
  margin-bottom: 9px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Detail-icon:hover {
  background-color: #36506a;
  color: whitesmoke;
  border-radius: 10%;
  transform: scale(1.05);
  cursor: pointer;
  font-size: 19px;
}
.custom-button {
  background-color: #095c83;
  height: 2.4rem;
  font-weight: bold; /* Utilisez font-weight au lieu de fontStyle */
  color: white; /* Optionnel, pour rendre le texte visible */
  border: none; /* Optionnel, pour un style plus propre */
  cursor: pointer; /* Optionnel, pour indiquer que c'est cliquable */
}

.custom-button:hover{
  color: #095c83;
  background-color: #eaeced;
}

/* STYLE ET ICON DU FORMULAIRE "AJOUTER MEMBRE" */
.new-member-container {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #095c84;
}

.icon-tableau .person-icon {
  font-size: 3rem; /* Ajustez la taille si nécessaire */
  color: #095c84;
}


/* Styles pour le modal AddmenberForm.jsx  */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-height: 80vh;
  min-width: 80vh;
}

/* Transition pour faire apparaître le modal */
.modal.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Styles pour l'icône de fermeture */
.close-icon-container {
  text-align: right;
  margin-bottom: 20px;
}

.close-icon {
  cursor: pointer;
}

/* Conteneur "Nouveau membre" */
.new-member-container {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #095c84;
}

.icon-tableau .person-icon {
  font-size: 2rem; /* Taille de l'icône */
}

/* Styles pour le formulaire */
.form-container {
  min-height: 60vh;
  min-width: 50vh;
  padding: 10px;
  margin-bottom: 10%;
  background-color: #d9e3eb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Boutons du formulaire */
.form-buttons {
  display: flex;
  justify-content: space-evenly;
}

.form-buttons .button-validate {
  z-index: 9999;
}

.form-buttons .button-cancel {
  z-index: 9999;
  margin: 8px;
}

/* Section des détails du service sélectionné */
.service-details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.service-details p {
  text-align: left;
}
