/* index.css */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0465ce, #d9e3eb); /* Dégradé linéaire du bleu (#007bff) au blanc (#ffffff) */
  font-family: Arial, sans-serif; /* Choix d'une police de caractères sans-serif */
  height: 100vh; /* Hauteur à 100% de la fenêtre visible */
  z-index: 0;
  
  }


.MuiDataGrid-columnHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b6d2df; /* Couleur de fond de l'en-tête */
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
