
body {
  background: linear-gradient(to bottom, #2980b9, #ffffff); /* Dégradé de bleu à blanc */
  margin: 0; /* Supprime les marges par défaut du body */
  padding: 0; /* Supprime les rembourrages par défaut du body */
  height: 100vh; /* Assure que le dégradé s'étend sur toute la hauteur de la fenêtre */
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Centrer verticalement */
  margin: 0 auto;
 
  
}

.data-grid-container {
  width: 90%; /* Largeur du tableau */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Centrer verticalement */
  margin: 0 auto;
  background: white;
  border-radius: 0.5rem;
}

.title {
  text-align: center;
  color : #add8e6 ;
}
