.statistics-wrapper { 
  background:  #b6d2df;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  

}

.statistics-title {
  font-size: 1.2rem; 
  font-weight: bold;
  margin-bottom: 10px; 
  color: #0a0909; 
  text-align: center;
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px; 
  border-radius: 10%;
}

.statistics-item {
  display: flex;
  flex-direction: column; /* Empile le texte et le chiffre */
  justify-content: center;
  align-items: center;
  width:5rem;
  height: 10vh;
  background-color: transparent;
}

.small-card {
  background-color: transparent; 
  color: #0e0d0d; 
  font-size: 0.8rem; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 0; 
  border-radius: 5px; 
}

.small-card .ant-card-head-title {
  font-size: 0.8rem;
  margin-bottom: 2px; 
}

.small-card .ant-card-body {
  font-size: 1rem; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-chart {
  width:100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-camaber{
  width: 100%;
  height: auto;
}