.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
 
  
  }

.formulaire form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: black;
 
}

.formulaire form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formulaire form .MuiTextField-root {
  width: 100%;
}

.formulaire form .MuiButton-root {
  width: 100%;
}

.formulaire form .MuiFormControl-root {
  width: 100%;
}

.formulaire form .MuiSelect-root {
  width: 100%;
}

.formulaire form .MuiRadio-root {
  padding: 0;
  margin-right: 5px;
}

.formulaire form .MuiTypography-body1 {
  font-size: 0.875rem;
}
