.formulaire {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Augmentation de la largeur */
  max-width: 1000px; /* Limiter la largeur maximale du formulaire */
  height: 50vh; /* Augmentation de la hauteur */
  max-height: 50vh; /* Limiter la hauteur maximale */
  padding: 20px; /* Espacement intérieur */
  z-index: 1;
  background: #f0f1f3;
  border-radius: 5px;
}

.formulaire form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
  gap: 20px;
  width: 90%;
  align-items: center; /* Centrer verticalement les éléments */
}

.formulaire form .MuiButton-root {
  width: 100%;
  justify-self: center; /* Centrer horizontalement le bouton */
}


.formulaire form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formulaire form .MuiTextField-root {
  width: 100%;
  /* background-color: white; */
}


.formulaire form .MuiFormControl-root {
  width: 100%;
}

.formulaire form .MuiSelect-root {
  width: 100%;
}

.formulaire form .MuiRadio-root {
  padding: 0;
  margin-right: 5px;
}

.formulaire form .MuiTypography-body1 {
  font-size: 0.875rem;
}

.valider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajoutez une marge au-dessus du bouton si nécessaire */

}
