

table {
  position: relative;
  z-index: 0; /* Assure que le tableau est en dessous du formulaire */
}

.formulaire {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50vw;
  height:50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: #c6c8ca;
  z-index: 1;
  border-radius: 10px;
 
}
.formulaire .ant-form{
  display: grid;
  width: 100%;
  height: auto;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-content:center;
  align-items: center;
  /* background: #d47777; */
  
}


.formulaire .ant-form-item {
  display: grid;
  justify-content:center;
  align-items: center;
  width: 100%; 
  margin: 0 auto;
  margin-top: 1rem;
  /* background-color: brown; */
}

 /* Pour commencer une nouvelle ligne pour chaque élément impair */
/* .formulaire .ant-form-item:nth-child(odd) {
  clear: both;
} */

/* forcer les element a passer sur la ligne suivante */
.formulaire .ant-form-item-label {
  display:block;
  align-items: center;
  justify-content: center;
  width:8rem;
    
}

.formulaire .ant-form-item-label label {
  font-weight:100;
  font-size:medium;
  /* background-color: #000; */
  width: 4rem;

}

.formulaire .ant-form-item-control-input-content {
 
}

.ant-input{
  display: grid;
  /* background: #3a71c4; */
  align-items: center;
  justify-content: center;
  height: auto;
  width: 15rem;
  border-radius: 2px;
  border: none;
  font-size:medium;
  font-weight: 200;
  font-family: sans-serif;
  color: #fff;
  padding: 0 1rem;
  margin: 0 1.5rem;

}

.ant-checkbox{

  /* background: #000; */
  
}

/* bouton valider */
.formulaire .ant-form-item:last-child {
  
}

 /* Largeur maximale du bouton */ 
.formulaire .ant-btn {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 200px; 
  font-size:medium;
  height: auto;
  margin: 0 auto;
  
  

}